name: Scrape Classroom Data/Deploy ICL
run-name: Scrape & deploy by @${{ github.actor }}
on:
  workflow_dispatch:
    inputs:
      NOBUILD:
        type: choice
        options:
          - "0"
          - "1"
      NOPUSH:
        type: choice
        options:
          - "0"
          - "1"
  schedule:
    # Run at 06:00, 12:00, 15:00 every day
    # Copy of existing schedule from macserver
    - cron: "0 13,19,22 * * *"
jobs:
  scrape:
    runs-on: ubuntu-latest
    env:
      NOBUILD: ${{ github.event.inputs.NOBUILD }}
      NOPUSH: ${{ github.event.inputs.NOPUSH }}
    steps:
      - name: Set default branch name to `main`
        run: git config --global init.defaultBranch main
      - name: Check out main repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
        # with:
        #   submodules: 'true'
      - name: Check out `data`
        uses: actions/checkout@v4
        with:
          repository: "ucsd-its-sd/icl_data"
          path: data
          token: ${{ secrets.GH_TOKEN }}
      - name: Check out `web`
        uses: actions/checkout@v4
        with:
          repository: "ucsd-its-sd/icl_web"
          path: web
          token: ${{ secrets.GH_TOKEN }}
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.42.4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "v20.9.0"
      - name: Set Git config
        run: |
          git config --global user.email "itslead@ucsd.edu"
          git config --global user.name "Sunny"
      - name: Run build.sh
        run: |
          export NOBUILD=${NOBUILD:-0}
          export NOPUSH=${NOPUSH:-0}
          export GIT_PATH=`which git`
          export DENO_PATH=`which deno`
          export NODE_PATH=`which node`
          sh ./build.sh
